@charset "utf-8";
/* CSS Document */

/*reset css*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, Gheader, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #f9f9f9;
	font-size: 13px;
	color: #393939;
	line-height: 1.5;
}
/* stylesheet */
.main-content, body, html {
	min-height: 100%;
}
/* Typography */
h1, h2, h3,h4,h5,h6 {
	font-weight: 600;
	margin-bottom:15px;
}
h1 {
	font-size: 32px
}
h1.smaller {
	font-size: 31px
}
h1.bigger {
	font-size: 33px
}
h2 {
	font-size: 28px;
	margin-top:10px;
}
h2.smaller {
	font-size: 25px
}
h2.bigger {
	font-size: 27px
}
h3 {
	font-size: 22px
}
h3.smaller {
	font-size: 21px
}
h3.bigger {
	font-size: 23px
}
h4 {
	font-size: 18px
}
h4.smaller {
	font-size: 17px
}
h4.bigger {
	font-size: 19px
}
h5 {
	font-size: 15px
}
h5.smaller {
	font-size: 14px
}
h5.bigger {
	font-size: 16px
}
h6 {
	font-size: 13px
}
h6.smaller {
	font-size: 12px
}
h6.bigger {
	font-size: 14px
}
p{
	padding-bottom:10px;
	}
small {
    color: #999;
    font-size: 84.61%;
    line-height: 1em;
}
br{
	line-height:1;
	}
strong {
	font-weight: bold;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
.fa{
	margin:0px 5px 0 0;
	}
body, html {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}
.margin0 {
	margin: 0px;
}
.marginbottom10{
	margin:0px;
	margin-bottom:10px;
	}
.marginright10{
	margin-right:10px;
	}
.mainwrapper{
	padding-top:50px;
	}
.header {
	color: #777;
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	font-family: "Open Saans", sans-serif;
	z-index: 4;
	margin-bottom: 0px;
}

.nav.navbar-right > li {
	border-right: 1px solid #ddd;
	float:left;
	text-align: left;
}
.nav.navbar-right >li:first-child {
	border-left: 1px solid #ddd;
}
.nav.navbar-right li.tempFeedbackLink {
	border-left: none;
}
.nav.navbar-right > li a.dropdown-toggle {
	font-size: 12px;
	padding:15px 8px;
	line-height:20px;
}
.nav.navbar-right {
	margin-right: 0px;
	float:right;
}
.nav.navbar-right .dropdown {
	font-size:12px;
	}
.searchSummary {
	display: table;
	vertical-align: middle;
}
.searchSummary span {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}
.flagIcon {
	background: url(../images/flag-sprite.png) no-repeat left center;
	width: 21px;
	height: 21px;
	text-indent: -9999px;
	display: inline-block;
	float: left;
}
.flagIcon.in {
	background-position: 0px center;
}
.flagIcon.ae {
	background-position: -32px center;
}
.flagIcon.om {
	background-position: -64px center;
}
.flagIcon.qa {
	background-position: -96px center
}
.flagIcon.bh {
	background-position: -128px center
}
.flagIcon.kw {
	background-position: -160px center
}
.flagIcon.sa {
	background-position: -192px center
}
.flagIcon.us {
	background-position: -224px center
}
.listMenuPicker .current a {
	color: #000;
	font-weight: bold;
}
.countryMenu li {
	position: relative;
	padding: 10px 0px;
}
.Country {
	float: left;
}
.countryMenu .flagIcon {
	float: right;
}
.currencyMenu .currencySymbol {
	float: right;
	text-align: right;
	margin-top: 3px;
	font-size: 11px;
	line-height: 11px;
}
.currencyMenu {
	width: 400px;
	max-width: 400px;
	overflow-y: auto;
	height: auto;
	padding: 0;
}
.currencyCol {
	width: calc(100% / 2);
	width: -webit-calc(100% / 2);
	width: -o-calc(100% / 2);
	width: -ms-calc(100% / 2);
	height: auto;
	float: left;
	border-right: 1px solid #efefef;
	list-style: none;
}
.currencyMenu a {
	padding: 10px 15px 10px 20px;
	display: block;
}
.avtar {
	font-size: 16px;
	background: #fff;
	boeder: 1px solid #ddd;
	width: 18px;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	line-height: 18px;
}
.userAccountMenu.dropdown-menu li a {
	color: #36c;
}
.userAccountMenu.dropdown-menu li a .fa {
	margin-right: 5px;
}
/*** primaryBar ***/
.primaryBar {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
.viewSwitchers .fa {
	margin-right: 5px;
}
.support {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	margin-top: 6px;
	text-align: right;
}
.support .fa {
	background: #666;
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 13px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
}
/* sidebarLeft Nav*/
.dealSection, .sidebarRight {
	margin-top: 30px;
	position: relative;
	z-index: 1;
}

.dealSection{
	float:left;
	}
.contentSec{
	float:right;
	}
.sidebarRight {
	float: right;
	width: 27%;
}
.productNav {
	margin-bottom: 20px;
	z-index: 2;
	margin-left:-1px;
}
.productNav:before, .productNav:after{
	content:"";
	clear:both;
	display:block;
	}
.productNav li {
	border: 1px solid transparent;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.productNav li a {
	padding: 10px 15px;
	font-size: 17px;
	line-height: 24px;
	text-decoration: none;
	color: #000;
	display: block;
}
.productNav li.current {
	background: #fff;
	border: 1px solid #ddd;
	border-left-color: #fff;
}
.productNav li a .fa, .productLink li a .fa {
	text-shadow: none;
	font-size: 22px;
	width: 25px;
	margin-right: 10px;
	display: inline-block;
	color: #000;
}
/*** product lin on top ***/
.productLink {
	font-size: 0px;
}
.productLink li {
	border-right: 1px solid #ddd;
	text-align: center;
}
.productLink li:first-child {
	border-left: 1px solid #ddd;
}
.productLink li a .fa {
	line-height: 40px;
	display: block;
	width: auto;
	margin: 0px;
	padding: 0px 8px;
}
.caseButton{
	margin:5px 0px;
	padding-right:0px;
	}
/* filterBar*/
.filterBar{
	margin-top:30px;
	}
.filterBar ul li {
	font-size: 90%;
	margin-bottom:10px;
}
.filterBar ul li ul li {
	border-color: #ececec;
}
.filterBar .checkbox label {
	width: 100%;
}
.right-inner-addon {
	position:relative;
	}
.right-inner-addon i {
	background:#fff;
	padding: 8px 12px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 2px;
}
.filterBar .collapse {
	padding: 0px 0px 5px;
}
.filterBar .accordion-toggle:before {
	font-family: 'FontAwesome';
	content: "\f0d7";
	float: left;
	width: 15px;
	padding-right: 8px;
}
.filterBar .collapsed.accordion-toggle:before {
	content: "\f0da";
}
.filterBar .accordion-heading{
	border: 1px solid #ddd;
	background:#fff;
	border-radius:4px;
	margin-bottom:5px;
	padding:0px 10px;
	}
.filterBar .accordion-heading a {
	color: #666;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0 5px;
	display: block;
}
.amountDisplay {
	background: none;
	border: none;
}
.pricrBar {
	height: 40px;
}
.pricrBar .ui-slider-horizontal {
	height: 5px;
	border: 1px solid #ddd;
}
.pricrBar .ui-widget-header {
	background: #337ab7;
}
.pricrBar .ui-state-default, .pricrBar .ui-widget-content .ui-state-default, .pricrBar .ui-widget-header .ui-state-default {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 50%;
}
/*content*/
.mid-content {
	background: #fff;
	border: 1px solid #ddd;
	border-top: none;
	position: relative;
}
.heading{
	margin-top:0px;
	margin-bottom:0px;
	}
.subTitle{
	color:#999;
	}
.viewController {
	margin-left: 0px;
}
.searchForm {
	padding: 40px;
	min-height: 400px;
	z-index: 1;
	float: left;
	width: 73%;
	position: relative;
	z-index: 0;
}
.subTitle {
	margin-bottom: 20px;
}
.search-content {
	margin: 15px 0px;
}
.row {
	position: relative;
}
.search-content .radio.radio-inline{
	margin:0px;
	}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}
.paddingRight0 {
	padding-right: 0px;
}
.paddingLeft0 {
	padding-left: 0px;
}
.padding0{
	padding:0px;
	}
.iconExchange {
	position: absolute;
	left: 50%;
	bottom: 18px;
	font-size: 18px;
	margin-left: -12px;
	z-index: 99;
	width: 25px;
	text-align: center;
	cursor: pointer;
}
.ext-option {
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.fooButton {
	margin-top: 15px;
}
.panel, .panel-heading{
	border-radius:0px;
	}
.panel-default > .panel-heading{	
	background:#c0f3f3 ;
	}
.steps {
    background: #e8fcfc;
    border: 1px solid #cfe3e3;
    border-radius: 20px 0 0 20px;
    display: inline-block;
    height: 25px;
    line-height: 20px;
    margin-left: -25px;
    margin-right: 10px;
    text-align: center;
    width: 60px;
	font-size:90%;
}
.itinerary .totalDuration {
    font-size: 12px;
    margin-top: 9px;
}
.itinerary h3 {
	margin:10px 0px;
	}	
.itinerarySummary li{
	vertical-align:top;
	}
.baggageInfo .fa{
	margin-left:-13px;
	}
.itinerarySummary li .airLogo span {
    background: #fff;
    height: 23px;
	margin:15px 10px;
	display:block;
    width: 27px;
}
.itinerary .itinerarySummary .start, .itinerary .itinerarySummary .end {
    width: 125px;
}
.itinerarySummary .start {
    text-align: right;
}
.itinerarySummary .placeTime {
    display: block;
    font-size: 22px;
	line-height:1;
	margin-bottom:3px;
    text-transform: capitalize;
}
.itinerarySummary .details {
    width: 70px;
	text-align:center;
}
.itinerarySummary .details .fa{
	 color: #999;
    font-size: 26px;
}

.itinerary .connector {
    border-bottom: 1px dotted #e2e2e2;
    cursor: default;
    font-size: 11px;
    line-height: 0;
    margin: 25px 0;
    padding: 2px 0 0;
    text-align: center;
}
.itinerary .connector > small {
    background: #fff;
    font-size: 11px;
    line-height: 0;
    padding: 0 1em;
}
.itinerary .checkbox label{
	line-height:1.2;
	}
.offersDetail li{
	border-top:1px solid #efefef;
	padding:10px 0px;
	}
.totalFare{
	font-size:18px;
	}
.small-checkbox {
    display: block;
    line-height: 14px;
    margin-top: -4px;
	}
.accepted_c22{
	background: url(../images/sprite-payment.png) no-repeat scroll -310px -95px;
    display: block;
    height: 20px;
    width: 140px;
	}
.gridViewBank li{
	display:inline-block;
	width:31%;
	background:#fff;
	border:1px solid #ddd;
	padding:10px;
	margin:0 10px 10px 0px;	
	}
.gridViewBank li .logoSprite{
	background:url(../images/sprite-payment.png) no-repeat left top;
	display: block;
    height: 25px;
    margin-left: 10px;
    width: 100px;
	}
.gridViewBank li .logoSprite.axis{
	background-position:0px 0px;	
}
.gridViewBank li .logoSprite.citibank{
	background-position:-120px 0px;	
}
.gridViewBank li .logoSprite.hdfc{
	background-position:-240px 0px;	
}
.gridViewBank li .logoSprite.icici{
	background-position:-360px 0px;	
}
.gridViewBank li .logoSprite.kotak{
	background-position:0px -50px;	
}
.gridViewBank li .logoSprite.sbi{
	background-position:-480px 0px;	
}
.gridViewBank li .logoSprite.paytm{
	background-position:-115px -95px;	
}
.gridViewBank li .logoSprite.payu{
	background-position:0px -95px;	
}
.gridViewBank li .logoSprite.mobikwik{
	background-position:-210px -95px;	
}
.gridViewBank li .logoSprite.freecharge{
	background-position:-240px -140px;	
}
.gridViewBank li .logoSprite.ola_money {
    background-position: -119px -140px;
    width: 120px;
}

/***Deal box ***/
.specialBlock {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #bbb;
	margin: 0px 0px 20px;
	box-shadow: 0px 1px 2px #cccccc;
	position: relative;
	z-index: 2;
}
.dealHeader {
	padding: 10px 15px 5px 15px;
	text-align: left;
	border-bottom: 1px dashed #bbb;
}
.viewAll {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 99;
}
.offerSpan {
	padding: 15px;
	z-index: 2;
}
/*** Advertise***/
.advertise {
	margin-bottom: 15px;
}
/*** footer ***/
.globalFooter {
	color: #999;
	border-top: 1px solid #ddd;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.secondaryLinks {
	font-size: 90%;
}
.secondaryLinks a {
	color: #999;
}
.addOnFooter {
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
	box-shadow: 0px 1px #ffffff inset;
}
.merchandising {
	background: #CFC;
	height: 23px;
	padding: 1px 5px;
	border: none;
	font-size: 12px;
}
.merchandising .label {
	padding: 1px 3px;
	margin-right: 3px;
}
.content-table {
	position: relative;
}
.content-table ul li + li {
	padding-top: 35px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.content-table ul li + li + li {
	padding: 5px 0px;
}
.content-table ul li:first-child {
	position: absolute;
	width: 100%;
}
.content-table ul li:last-child {
	border-bottom: 0px;
}
.detailtable tr td.vendor {
	text-align: center;
	width: 14%;
	padding: 10px;
}
.detailtable tr td.depart {
	padding: 10px;
	width: 18%;
}
.detailtable tr td.arrive {
	padding: 10px;
	width: 18%;
}
.detailtable tr td.duration {
	width: 18%;
	padding: 10px;
}
.detailtable tr td.indicators {
	width: 20%;
	padding: 10px;
}
.detailtable tr td.price {
	padding: 10px;
	position: relative;
	text-align: right;
	width: 12%;
}
.detailtable tr td.price .amount {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}
.detailtable tr td {
	vertical-align: top;
}
tr.table-heading td {
	background: #c0f3f3;
	color: #06C;
	padding: 5px !important;
}
.detailtable tr td .small {
	font-size: 90%;
	color: #999;
	}
table tr td p{
	padding:0px;
	}
.responsive-calendar {
	margin-left: -15px;
	margin-bottom:20px;
	background: #fff;
	border: 1px solid #ddd;
	border-left: none;
}
.responsive-calendar .day a {
	font-size: 12px;
}
.responsive-calendar .controls a {
	font-size: 150%;
	margin: 0px 5px;
}
.responsive-calendar .controls h5 {
	display: inline-block;
	margin: 4px 0px;
}
.responsive-calendar .caption {
	background: #fcf8e3;
	font-size: 11px;
	line-height: 15px;
	padding: 5px;
	border-top: 1px solid #ddd;
}
.calendarBar{
	margin-top:30px;
	}
	
/*vertical tab*/
.tabs-left {
  padding-top: 0px;
  border-right: 1px solid #ddd;
}

.tabs-left>li{
  float: none;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li>a:hover{
	border-color:#ddd;
	border-left-color:transparent;
	}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  border-left-color:transparent;
  
}
.tabs-left>li:first-child.active >a,
.tabs-left>li:first-child >a:hover,
.tabs-left>li:first-child.active>a:hover,
.tabs-left>li:first-child.active>a:focus {
  border-top-color: transparent;  
}
.tabs-left>li>a {
  border-radius: 0px;
  margin-right: 0;
  display:block;
    border-bottom: 1px solid #ddd;
}
.tab-content{
	padding:15px 0px;
}
.list-group-item{
	font-size:14px;
	}
.list-group-item .fa{
	margin-right:10px;
	}	
.lineMessage{
	padding:20px;
	}
/*Media Query*/
@media (max-width: 991px) {
.container{
	width:100%;
		}
.dealSection{
	float:right;
	}
.contentSec{
	float:left;
	}
.sidebarRight .advertise{
	display:none;
	}
.sidebarRight {
    float: none;
    width: 100%;
}
.productNav{
	margin:0px;
	}
.productNav li{
	float:left;
	margin-bottom:-1px;
	border-top:1px solid #ddd;
	text-align:center;
	}

.productNav li .nav-text{
	display:none;
	}
.productNav li a .fa{
	margin:0px;
	}
.productNav li.current{
	border-left:1px solid #ddd;
	border-bottom:1px solid #fff;
	}
.searchForm {
	float:none;
	width:100%;	
	border-top:1px solid #ddd;
	}
	}
	
@media (max-width: 767px) {
.navbar-nav {
    margin:0px;
}

.iconExchange {
	bottom: 50px;
}
.table-responsive {
	border: none;
	margin: 0px;
}
.dealSection, .contentSec{
	float:none;
	}
.responsive-calendar{
	margin-left:0px;
	border-left:1px solid #ddd;
	}
.gridViewBank li{
	width:47%;}
}
@media (max-width: 480px) {
.productNav li a{
	padding:8px 10px;
	}
.searchForm {
	padding:20px;
	}
.label{
	display:block;
	white-space:normal;}
	.gridViewBank li{
	width:100%;}
	}